{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "styles": "./styles",
                    "components": "./components",
                    "actions": "./redux/actions",
                    "nredux": "./nredux",
                    "pages": "./pages"
                }
            }
        ],
      ["import", { "libraryName": "@ant-design/react-native" }] // The difference with the Web platform is that you do not need to set the style
    ]
}